body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

ul a{
  color: white;
}

ul {
  list-style-type: none;
  padding: 0px;
}

.header {
  font-size: 32px;
  font-weight: 900;
  height: 72px;
  background: darkmagenta;
  color: white;
  display: flex;
  align-items: center;
  padding: 0px 16px;
}

.content {
  flex: 1;
  display: flex;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  background: #eee;
  color: darkmagenta;
}

.sidebar {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  padding: 16px;
  gap: 16px;
  font-size: 24px;
}

.links {
  display: flex;
  flex-flow: column wrap;
  gap: 16px;
  font-size: 24px;
  margin: 0px;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  padding: 48px;
  gap: 32px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  padding: 16px;
  width: 300px;
}